body{
    display: flex;
    justify-content: center;
}
.cuerpo{
    border: solid gray;
    width: 450px;
    background-color: gray;
}
.informacion{
    margin-left: 20px;
}
.informacion > h1{
    color: blue;
}
.informacion > p{
    color: white
}
button{
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border-style: none;
    color: blue;
    cursor: pointer;
}